@font-face{
  font-family: 'Itim';src:url('Itim.ttf');
}



*{
  padding:0;
  margin:0;
  font-family:'Itim',cursive;
}

html,body{
  height:96%;
  width:100%;
  background-color: #cb4042;
  background-position:fixed;
}
h1{
  color:#fff;
  text-align: center;
  margin-top:0.8rem;
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
}


#choose{
  position:absolute;
  top:2.8rem;
  left:0;
  right:0;
  margin:auto;
  z-index: 21;
  width:14rem;
  padding-top: 0.5rem;
  text-align: center;
  color:#fff;
  background-color: #db4d6d;
  outline:none;
  border-radius: 0.2rem;
}
#choose h2{
  font-size: 0.4rem;
}
#choose p{
  font-size: 0.7rem;
}

.chooseMode button{
  width:1.8rem;
  height:0.6rem;
  text-align: center;
  font-size: 0.3rem;
  cursor:pointer;
  border-radius: 0.09rem;
  border:none;
}
#button1{
  position:absolute;
  right:-0.6rem;
  top:4rem;
}

.modebutton{
display: block;
width:3rem;
height: 2rem;
padding:0.4rem 0.8rem 0.8rem 0.8rem;
margin:0.4rem;
margin-bottom: 0.8rem;
text-align: center;
font-size: 0.44rem;
font-weight:200;
border-radius: 0.12rem;
cursor:pointer;
border:none;
transition: transform .3s;
}

.modebutton:hover{
  transform: translateX(-0.18rem);
}

#restart:hover{
  background-color: #cb4042;
  color:white;
}

#Undo:hover{
  background-color: #cb4042;
  color:white;
}

#button2{
  position:absolute;
  top:4rem;
  left:1rem;
}

#restart{
  display: block;
  width:3rem;
  height: 2rem;
  padding:0.7rem 0.8rem 0.8rem 0.7rem;
  margin:0.4rem;
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 0.5rem;
  font-weight:200;
  border-radius: 0.12rem;
  cursor:pointer;
  border:none;
  }

  #Undo{
    display: block;
    width:3rem;
    height: 2rem;
    padding:0.7rem 0.8rem 0.8rem 0.8rem;
    margin:0.4rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: 0.5rem;
    font-weight:200;
    border-radius: 0.12rem;
    cursor:pointer;
    border:none;
  }


#container{
  height:10rem;
  width:10rem;
  margin:auto;
  background-color: #cb4042;
  z-index: 2;
}
.tic{
  font-family: Arial, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  display:inline-block;
  background-color: #fff;
  float:left;
  height:3.3rem;
  width:3.3rem;
  margin:0;
  padding:0;
  color:#000;
  cursor:pointer;
  border:0.002rem solid #cb4042;
  position:relative;
  text-align: center;
  text-decoration: none;
  font-size:2.3rem;
  line-height: 3rem;
}

#para{
  position:absolute;
  top:15%;
  right:0;
  left:0;
  margin:auto;
  text-align: center;
  color:#db4d6d;
  font-size: 4rem;
  font-weight: 600;
  z-index: 30;
}

#back{
  position:fixed;
  opacity: 0.7;
  top:0;
  width:100%;
  height:100%;
  background-color: #000;
  z-index: 10;
}

@media screen and (max-width: 991px){
  html {
    font-size: 35px;
  }
  #button1{
    position:absolute;
    right:2.5rem;
    top:13rem;
  }
  .modebutton{
    background-color: white;
  }

  .modebutton:hover{
    transform: translateX(0rem);
    background-color: white;
  }
  #button2{
    position:absolute;
    top:13rem;
    left:2.5rem;
  }
  #restart:hover{
    background-color: white;
    color:black;
  }
  #Undo:hover{
    background-color: white;
    color:black;
  }
  #restart{
    background-color: white;
  }
  #Undo{
    background-color: white;
  }
  #container{
    height:10.1rem;
    width:10.1rem;
  }
}

@media screen and (max-width: 767px){
  html {
    font-size: 28px;
  }
  #button1{
    position:absolute;
    right:1.5rem;
    top:13rem;
  }
  #button2{
    position:absolute;
    top:13rem;
    left:1.5rem;
  }
}
